@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.dark {
  background-color: darkslategrey;
  color: white;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.border {
  border: solid;
}

html {
  font-family: 'Nanum Myeongjo', serif;
}
